#body-great-page {
    background-color: var(--secondary--cl);
}
.great-page {
    margin-top: 66px;
    padding-bottom: 66px;
}
.great-title {
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-top: 34px;
}
.great-logos {
    display: grid;
    margin-top: 48px;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.great-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 14px;
}
.great-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1023.98px) {
    .great-gameshow,
    .great-client {
        margin-top: 48px;
    }
    .great-partner-music {
        padding-top: 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .great-page {
        padding-bottom: 24px;
    }
    .great-title {
        font-size: 30px;
        line-height: 1.3;
        padding-top: 0;
    }
    .great-logos {
        margin-top: 24px;
        grid-template-columns: repeat(2, 1fr);
    }
    .great-logo {
        height: 100px;
    }
    .great-logo img {
        transform: scale(1);
    }
}
